html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IRANSans', Arial, Helvetica, sans-serif !important;
}

* {
  font-family: 'IRANSans', Arial, Helvetica, sans-serif !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// required

.ant-form-item-required::before {
  position: absolute;
  top: 0px;
  left: 0px;
}

// Date Picker
.rmdp-container {
  width: 100%;
}

.rmdp-input-datePicker {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-family: IRANSans, sans-serif;
  line-height: 1.5714285714285714;
  list-style: none;
  background: #ffffff;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  transition: all 0.2s;
}

.rmdp-input-datePicker:focus {
  background-color: #ffffff;
  border-color: #1677ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
}

.rmdp-input-datePicker.error-border {
  border-color: #ff4d4f;
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Button Step form
.ant-pro-steps-form-container .ant-space {
  display: flex;
  justify-content: end;
}
