html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IRANSans', Arial, Helvetica, sans-serif !important;
}

* {
  font-family: 'IRANSans', Arial, Helvetica, sans-serif !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// required

.ant-form-item-required::before {
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Button Step form
.ant-pro-steps-form-container .ant-space {
  display: flex;
  justify-content: end;
}



:where(.css-dev-only-do-not-override-61l1mm).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-61l1mm).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-61l1mm).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-61l1mm).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected {
  color:rgba(0, 0, 0, 0.95);
  background-color:transparent;
  font-weight: 500;
  border-bottom: 3px solid #d2d2d2;
  border-radius: 0;
}

.ant-pro-top-nav-header-menu {
  line-height: unset;
  padding-right: 3rem;
}

.ant-pro-top-nav-header-logo > :first-child > h1 {
  font-weight: 500;
}


.ant-pro-layout .ant-pro-sider .ant-layout-sider-children {
  padding-inline: 16px;
}


:where(.css-dev-only-do-not-override-pcfdof).ant-menu .ant-menu-item-divider {
margin: 10px 6px !important;
}